{% extends "invoice/layout.html" %}

{% block body %}

    <div class="inv-display">
        <h2>{{ invoice.title }}</h2>

        <div class="table-container">
            {% if items %}
                <table class="invoice">
                    <thead>
                        <th class="name">Item Name</th>
                        <th class="qty">Qty</th>
                        <th class="price">Price</th>
                        <th class="amount">Amount</th>
                    </thead>

                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td class="td_name">{{ item.name }}</td>
                                <td class="td_gty">{{ item.quantity }}</td>
                                <td class="td_price">{{ item.price }}</td>
                                <td class="td_amount">${{ item.total_cost }}</td>
                                <td class="td_del">
                                    <a href="{% url 'invoice:delete_item' invoice.id item.id %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr><td></td></tr>

                        <tr>
                            <td class="td_name tax">Tax</td>
                            <td></td><td></td>
                            <td class="tax">{{ invoice.tax }}%</td>
                        </tr>
                        <tr>
                            <td class="td_name total">Total</td>
                            <td></td><td></td>
                            <td class="total">${{ total }}</td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <p>
                    No Items in Invoice
                </p>
            {% endif %}
        </div>

        <a href="{% url 'invoice:add_item' invoice.id %}" class="big-btn">Add Item</a>
        
    </div>

{% endblock %}x