{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invois</title>
    <link href="{% static 'invoice/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'form.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="header">

        <a href="{% url 'accounts:index' %}">
            <h1>INVOIS</h1>
        </a>

        <div>
            <h3>Hello, {{ user.first_name }}</h3>

            <button>
                <a href="{% url 'accounts:logout' %}">Logout</a>
            </button>
        </div>
        
    </div>

    {% block body %}
    {% endblock %}
</body>
</html>