{% extends "accounts/layout.html" %}

{% block body %}

    <div class="header">

        <h1>INVOIS</h1>

        <div>
            <h3>Hello, {{ user.first_name }}</h3>

            <button>
                <a href="{% url 'accounts:logout' %}">Logout</a>
            </button>
        </div>
        
    </div>

    <div class="inv-display">
        <h2>Invoices</h2>

        <div class="table-container">
            {% if invoices %}
                <table>
                    <thead>
                        <th class="ID">ID</th>
                        <th class="left">Title</th>
                        <th class="right">Date Issued</th>
                    </thead>

                    <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td class="td_ID">{{ invoice.id }}</td>
                                <td class="td_left">
                                    <a href="{% url 'invoice:index' %}">{{ invoice.title }}</a>
                                </td>
                                <td class="td_right">{{ invoice.issue_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    No Invoices available
                </p>
            {% endif %}
        </div>

        <button>
            <a href="{% url 'invoice:index' %}">Create Invoice</a>
        </button>
    </div>

{% endblock %}x