{% extends "accounts/layout.html" %}

{% block body %}

    <div class="form-container">

        <h1>Login to your Account</h1>

        {% if message %}
            <div class="message">{{ message }}</div>
        {% endif %}

        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}

            <div><label for="username">Username:</label> <input type="text" name="username" required></div>
            <div><label for="password">Password:</label> <input type="password" name="password" required></div>

            <div><input type="submit" value="Login"></div>
            
        </form>

        <div class="alt-link"> Don't have an Account? <a href="{% url 'accounts:register' %}">Register</a> </div>

    </div>

{% endblock %}