{% extends "layout.html" %}

{% block body %}

    <h1>Login to your Account</h1>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}

        <div>Username: <input type="text" name="username"></div>
        <div>Password: <input type="password" name="password"></div>

        <div><input type="submit" value="Login"></div>
        
    </form>

    <div> Don't have an Account? <a href="{% url 'accounts:register' %}">Register</a> </div>

{% endblock %}