/* Header Styles */
.header {
    background-color: #4A65EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 20px;
}

.header h1 {
    color: #FFFFFF;
    font-size: 30px;
    margin: 5px 0px;
}

.header div {
    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
}

h3 {
    margin: 0 30px;
    color: #FFFFFF;
}

.head-btn {
    text-decoration: none;
    color: #4A65EE;
    padding: 7px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.head-btn:hover {
    background-color: #4A65EE;
    color: #FFFFFF;
    outline-color: #FFFFFF;
    outline-style: solid;
    outline-width: 3px;
}