.table-container {
    width: 600px;
    margin: 10px auto 50px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #FFFFFF;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table-container p {
    text-align: center;
}

.table-container table {
    width: 100%;
}

.table-container .left {
    width: 70%;
}

.table-container .ID {
    width: 5%;
}

.table-container th {
    text-align: left;
    color: #4A65EE;
    padding-bottom: 10px;
    border: none;
}

.table-container td {
    padding-bottom: 5px;
}

.table-container td > a {
    text-decoration: none;
    color: #000;
}

.table-container td > a:hover {
    color: #4A65EE;
}

/* edit invoice table */
.table-container .name {
    width: 50%;
}

.table-container .invoice th {
    text-align: center;
    color: #4A65EE;
    padding-bottom: 10px;
    border: none;
}

.table-container .invoice td {
    text-align: center;
    padding-bottom: 5px;
}

.table-container .invoice .name, .table-container .invoice .td_name {
    text-align: left;
}

.table-container .td_del > a{
    background-color: #4A65EE;
    color: #FFFFFF;
    padding: 2px 5px;
    text-decoration: none;
    border-radius: 4px;
}

.table-container .td_del > a:hover{
    background-color: #FFFFFF;
    color: #4A65EE;
    outline-color: #4A65EE;
    outline-style: solid;
    outline-width: 2px;
}

.tax {
    font-weight: 700;
    padding-top: 20px;
}

.total {
    color: #4A65EE;
    font-size: 20px;
}